
.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
}

.header_logo {
    width: 200px;
    height: 100px;
}

.header_text {
    padding-left: 450px;
}

